{% extends 'base.html' %}
{% block title %}Movie | CinemaHole{% endblock %}
{% load static %}
{% block content %}

<div class="lg:w-1/2 w-full lg:mx-2 mx-6 my-6 lg:mb-0">
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Explore</h1>
  <div class="h-1 w-20 bg-gray-600 rounded"></div>
</div>

<div class="mt-16 lg:grid grid-flow-col auto-cols-auto">
  <div>
    {% include 'Components/mainCarousel.html' %}
  </div>

  <div class="mt-80 lg:mt-40">
    {% include 'Components/characterExploreCard.html' %}
  </div>
</div>
<div class="lg:w-1/2 w-full mt-20 lg:mx-2 mx-6 my-10 lg:mb-0">
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Watch This Weekend</h1>
  <div class="h-1 w-20 bg-gray-600 rounded"></div>
</div>

<div class="flex mt-10 cardDeck p-5 overflow-x-scroll space-x-10">
  {% for movie in movies %}
  <!--Card-->
  {% include 'Components/movieCard.html' %}
  {% endfor %}
</div>



{% endblock %}